<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="applicationUser">
      <h2 data-cy="applicationUserDetailsHeading"><span jhiTranslate="tripApp.applicationUser.detail.title">Application User</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ applicationUser.id }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.firstName">First Name</span></dt>
        <dd>
          <span>{{ applicationUser.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.lastName">Last Name</span></dt>
        <dd>
          <span>{{ applicationUser.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.email">Email</span></dt>
        <dd>
          <span>{{ applicationUser.email }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.address">Address</span></dt>
        <dd>
          <span>{{ applicationUser.address }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.phone">Phone</span></dt>
        <dd>
          <span>{{ applicationUser.phone }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.mobilePhone">Mobile Phone</span></dt>
        <dd>
          <span>{{ applicationUser.mobilePhone }}</span>
        </dd>
        <dt><span jhiTranslate="tripApp.applicationUser.internalUser">Internal User</span></dt>
        <dd>
          <span>{{ applicationUser.internalUser?.login }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/application-user', applicationUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
