<div>
  <h2 id="page-heading" data-cy="AdressListHeading">
    <span jhiTranslate="tripApp.adressList.home.title">Adress Lists</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tripApp.adressList.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-adress-list"
        [routerLink]="['/adress-list/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tripApp.adressList.home.createLabel"> Create a new Adress List </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="adressLists?.length === 0">
    <span jhiTranslate="tripApp.adressList.home.notFound">No adressLists found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="adressLists && adressLists.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.street">Street</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.streetSuite">Street Suite</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.postalCode">Postal Code</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.state">State</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.country">Country</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.latitude">Latitude</span></th>
          <th scope="col"><span jhiTranslate="tripApp.adressList.longitude">Longitude</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let adressList of adressLists; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/adress-list', adressList.id, 'view']">{{ adressList.id }}</a>
          </td>
          <td>{{ adressList.street }}</td>
          <td>{{ adressList.streetSuite }}</td>
          <td>{{ adressList.postalCode }}</td>
          <td>{{ adressList.state }}</td>
          <td>{{ adressList.country }}</td>
          <td>{{ adressList.latitude }}</td>
          <td>{{ adressList.longitude }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/adress-list', adressList.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/adress-list', adressList.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(adressList)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
