<div>
  <h2 id="page-heading" data-cy="UserPreferencesHeading">
    <span jhiTranslate="tripApp.userPreferences.home.title">User Preferences</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tripApp.userPreferences.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-preferences"
        [routerLink]="['/user-preferences/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tripApp.userPreferences.home.createLabel"> Create a new User Preferences </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userPreferences?.length === 0">
    <span jhiTranslate="tripApp.userPreferences.home.notFound">No userPreferences found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userPreferences && userPreferences.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="tripApp.userPreferences.language">Language</span></th>
          <th scope="col"><span jhiTranslate="tripApp.userPreferences.currency">Currency</span></th>
          <th scope="col"><span jhiTranslate="tripApp.userPreferences.timeZone">Time Zone</span></th>
          <th scope="col"><span jhiTranslate="tripApp.userPreferences.internalUser">Internal User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userPreferences of userPreferences; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-preferences', userPreferences.id, 'view']">{{ userPreferences.id }}</a>
          </td>
          <td>{{ userPreferences.language }}</td>
          <td>{{ userPreferences.currency }}</td>
          <td>{{ userPreferences.timeZone }}</td>
          <td>
            {{ userPreferences.internalUser?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-preferences', userPreferences.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-preferences', userPreferences.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userPreferences)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
